.git
dist
dist-mjs
dist-cjs
node_modules
package-lock.json
pnpm-lock.yaml
coverage
.cache*

*-error.log
.husky/_

scaffold/yarn.lock
.cli-plugins
*.temp.*
test/**/tsconfig.json
test/**/tsconfig.*.json